@import url('https://fonts.googleapis.com/css2?family=Funnel+Display:wght@300..800&display=swap');  
@import url('https://fonts.googleapis.com/css2?family=Funnel+Display:wght@300..800&family=Ga+Maamli&display=swap');
  
*{
    margin: 0;
    padding: 0;
    
}

body{
    background-color: antiquewhite;
    font-family: "Funnel Display", serif;
    }

nav{
    font-family: "Funnel Display", serif;
      
}
nav ul{
    display: flex;
    align-items: center;
    list-style-type: none;
    height: 65px;
    background-color: black;
    color: white;
}

.brand img{
    width: 200px;
}

nav ul li{
     padding: 0 12px; 
}

.container{
 min-height: 75vh;
 background-color: black;
 color: white;
 display: flex;
 width: 70%;
 margin: 23px auto;
}

.bottom{
    position: sticky;
    background-color: black;
    color: white;
    height: 100px;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.icons{
    margin-top: 2px ;
}

.icons i{
    margin:10px;
}
#myProgressBar{
    width: 80vw;
    
}

.songItem{
    height: 50px;
    display: flex;
    background-color: white;
    color: black;
     width: 80%;
}